@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model AbacusViewer.Models.SelectionFilter

@{
    ViewBag.Title = "Selections";
}

<section class="jumbotron text-center" id="home-content markets-jumbotron">
    <div class="container">
        <a onclick="DoReload()" class="btn btn-primary col-xs-2 pull-right" id="search-events reload">
            Reload
            <i class="fas fa-sync"></i>
        </a>
        <h2 class="jumbotron-heading" id="heading markets-heading" style="margin-left: 110px;">
            Event @HttpContextAccessor.HttpContext.Session.GetString("CurrentEventId")
            <input type="text" id="CurrentEventId" name="CurrentEventId" value="@HttpContextAccessor.HttpContext.Session.GetString("CurrentEventId")"
                   class="form-control hidden">
        </h2>
        <p>
            See the markets and selections published for event @HttpContextAccessor.HttpContext.Session.GetString("CurrentEventId") below and check
            the price for a set of selections
        </p>
        <hr>
        <button type="button" class="btn pull-left" id="joint">
            Joint-Selection Probability  <span class="badge badge-light" id="joint-probability">0</span>
        </button>
        <button type="button" class="btn pull-right" id="price">
            Price <span class="badge badge-light">0</span>
        </button>
    </div>
</section>
<div id="table-container">
    <table id="grid-data" class="table table-condensed table-hover table-striped">
        <thead>
        <tr>
            <th data-column-id="market_name" data-sortable="true">Market Name</th>
            <th data-column-id="market_type_id" data-sortable="true">Market Id</th>
            <th data-column-id="selection_identifier" data-sortable="false">Selection Name</th>
            <th data-column-id="probability" data-sortable="false">Probability</th>
            <th data-column-id="price" data-type="numeric" data-sortable="false">Price</th>
            <th data-column-id="commands" data-formatter="commands" data-sortable="false">Select</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
    @section Scripts
{
        <script type="text/javascript" src="@Url.Content("/Scripts/Selections.js")"></script>
    }
