/*
	Global CSS Variables
*/

:root {
	--green-colour: #00A65A;
	--dark-green-colour: #008046;
	--light-grey-colour: #ccc;
	--blue-colour: #0275d8;
	--white-colour: #fff;
	--main-opacity: 0.75;
	--light-opacity: 0.85;
}

/*
	NavBar styles
*/

#abacus--navbar {
	background: var(--green-colour);
	border-color: var(--green-colour);
}

#abacus--brand {
	font-size: 1.5em;
}

#abacus--brand, #abacus--navbar .abacus--link {
	color: var(--white-colour);
}

#abacus--brand:hover {
	opacity: var(--main-opacity);
}

#abacus--navbar .abacus--link:hover {
	opacity: var(--light-opacity);
}

#brand--text--light {
	font-weight: 200;
	padding-right: 4px;
}

.list-item {
	transition: background 400ms ease; /* set transition to add nice hover effect to list item background colour */
}

.list-item:hover {
	background: var(--dark-green-colour);
}

/*
	Jumbotron
*/

#heading {
	display: inline-block;
}

.jumbotron {
	padding-top: 6rem;
	padding-bottom: 6rem;
	margin-bottom: -20px;
	background-color: #fff;
}

.jumbotron p:last-child {
	margin-bottom: 0;
}

.jumbotron-heading {
	font-weight: 300;
}

.jumbotron p {
    font-size: 17px;
}

.jumbotron .container {
	max-width: 40rem;
}

#markets-jumbotron {
    margin-bottom: -30px !important;
}


/*
	buttons
 */

.btn {
	user-select: none;
	border: 1px solid transparent;
	padding: .5rem 1rem;
	font-size: 1rem;
	border-radius: .25rem;
	line-height: 1.25;
	text-align: center;
}

.btn-secondary {
	background-color: var(--white-colour);
	border-color: var(--light-grey-colour);
}

.btn-primary {
	color: var(--white-colour);
	background-color: var(--blue-colour);
	border-color: var(--blue-colour);
}

/*
	Image & icons
*/

#abacus--img {
	width: 50px;
	margin-bottom: 30px;
	margin-left: 10px;
}

.abacus--home--icon {
	padding-left: 3px;
}

/*
	form elements
*/

#event-id-input {
	height: 38px;
	width: 100%;
    margin-left: 12px;
}

/*
	table
*/

.table {
    margin-bottom: 30px;
}

#table-container {
	overflow-y: scroll;
	max-height: 650px;
}

.pagination a:hover {
    cursor: pointer !important;
}

#click-button {
    margin-left: 25px;
}


/*
	event page
*/
.event-heading {
    font-weight: 200;
    text-align: left;
}

.event-heading .fa {
	color: var(--blue-colour);
}

/*
    market price & probability
*/

#joint, #price {
    background: var(--green-colour);
    color: var(--white-colour);
    border: 0;
}

#joint:focus, #price:focus {
    outline: 0;
}