@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model AbacusViewer.Models.SelectionFilter

@{
    ViewBag.Title = "Selections";
}

<section class="jumbotron text-center" id="home-content markets-jumbotron">
    <div class="container">
        <a onclick="DoReload()" class="btn btn-primary col-xs-2 pull-right" id="search-events reload">
            Reload
            <i class="fas fa-sync"></i>
        </a>
        <h2 class="jumbotron-heading" id="heading markets-heading" style="margin-left: 110px;">
            Event @Model.EventId
            <input type="text" id="CurrentEventId" name="CurrentEventId" value="@Model.EventId"
                   class="form-control hidden">
        </h2>

        <p>
            See the markets and selections published for event @Model.EventId below and check
            the price for a set of selections
        </p>
        <hr>

        <div class="math">
             <div class="callout callout-default" id="joint">
                <h4>Joint-Selection Probability  <span class="badge badge-light" id="joint-probability">0</span></h4>
             </div>
             <div class="callout callout-primary" id="price">
                <h4>Price <span class="badge badge-light">0</span></h4>
             </div>
        </div>
        
    </div>
</section>

<div id="table-container">
    <table id="grid-data" class="table table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th data-column-id="market_name" data-sortable="true" data-header-css-class="market-name-header-name" data-width="30%">Market Name</th>
                <th data-column-id="market_type_id" data-sortable="true">Market Id</th>
                <th data-column-id="selection_id" data-sortable="false" data-type="numeric" data-converter="numeric" data-identifier="true">Selection Name</th>
                <th data-column-id="probability" data-sortable="false">Probability</th>
                <th data-column-id="price" data-type="numeric" data-sortable="false">Price</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts
{
    <script type="text/javascript" src="@Url.Content("/Scripts/Selections.js")"></script>
}